/*color de textos y parrafos*/
$color-titulos: rgb(137, 169, 235);
$color-parrafos: rgb(176, 197, 230);

/* color de las card */
$card-color-uno: #5ddcff;
$card-color-dos: #3c67e3 43%;
$card-color-tres: #4e00c2;

/*Color de footer*/
$color-iconos: rgb(15, 15, 15);
$color-hover: rgb(88 199 250 / 100%);
